.input-xs {
    height: 22px;
    width: 25px;
    padding: 2px 1px;
    font-size: 12px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
}

.mr-15 {
    margin-right: 15px;
}

.mt-5 {
    margin-top: 5px;
}

.color-primary-plus {
    background: #63aedc;
}

.icon-white {
    color: white;
}

.text-center {
    text-align: center;
}

.cbloader
{
    display: none;
    width: 128px;
    height: 128px;
    position: fixed;
    top: 40%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:9999;
    overflow: auto;
    background: url('/josh/assets/img/loading1.gif') 50% 50% no-repeat;
}

.crop-preview {
    width: 570px;
    height: 430px;
}

.gallery-image {
    margin: 0 5px;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
}

.album-image {
    width: 215px;
    height: 215px;
}


